<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="favicon/3d-printer.ico" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/tarjetas.css">
    <link rel="stylesheet" href="css/slider.css">
    <link rel="stylesheet" href="css/productosCRUD.css">

    <script src="https://kit.fontawesome.com/bd57c9676d.js" crossorigin="anonymous"></script>

    <title>Laboratorio3D</title>
</head>

<body>
    <header>
    <!-- El header se asigna al incluir el módulo general.js -->        
    </header>

    <div class="info_header">
        <a href="index.html" title="Página de inicio"><i class="fa-solid fa-house fa-lg"></i></a><p>-> CRUD</p>
    </div>

    <main>
        <div id="app" class="container">
            <div class="contenedor_acciones"> 
                <a href="producto_nuevo.html">Nuevo Producto</a>
            </div>

            <div v-if="error">
                <div class="contenedor_mensaje">
                    <p class="mensaje">No de pudieron obtener los productos</p>
                </div>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="contenedor_mensaje">
                        <div class="spinner-border" style="color:brown"></div>
                        <p class="mensaje">Buscando productos .....</p>
                    </div>
                </section>
                <section v-else>
                    <div class="contenedor_tarjetas">
                        <article v-for="producto in productos" class="card">
                            <figure>
                                <div class="slider-frame">
                                    <ul id="lista-imagenes">
                                        <li><img :src="producto.imagen1" :alt="producto.nombre" onerror="this.src='img/imagen_no_disponible.png';"></li>
                                        <li><img :src="producto.imagen2" :alt="producto.nombre" onerror="this.src='img/imagen_no_disponible.png';"></li>
                                        <li><img :src="producto.imagen3" :alt="producto.nombre" onerror="this.src='img/imagen_no_disponible.png';"></li>
                                        <li><img :src="producto.imagen4" :alt="producto.nombre" onerror="this.src='img/imagen_no_disponible.png';"></li>
                                    </ul>
                                </div>
                            </figure>
                            <section class="contenido">
                                <h3>{{producto.nombre}}</h3>
                                <section id="datos">
                                    <p><span id="franquicia" class="campo">Franquicia: </span><span>{{producto.franquicia}}</span></p>
                                    <p><span id="tamano" class="campo">Tamaño: </span><span id="valor">{{producto.tamano}}</span></p>
                                    <p><span id="material" class="campo">Material: </span><span id="valor">{{producto.material}}</span></p>
                                    <p><span id="altura" class="campo">Altura: </span><span id="valor">{{producto.altura}}</span></p>
                                </section>
                                <p id="precio" class="precio">$ {{producto.precio}}</p>
                                <a :href="'producto_modificar.html?id=' + producto.id">Editar</a>
                                <button type="button" v-on:click="eliminar(producto.id)">Borrar</button>
                            </section>
                        </article>            
                    </div>
                </section>
            </div>
        </div>
        
    </main>

    <footer>
    <!-- El footer se asigna al incluir el módulo general.js -->
    </footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/productosCRUD.js"></script>
    <script src="js/general.js"></script>

</body>

</html>