<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="favicon/3d-printer.ico" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/tarjetas.css">
    <link rel="stylesheet" href="css/slider.css">
    <link rel="stylesheet" href="css/producto_nuevo.css">

    <script src="https://kit.fontawesome.com/bd57c9676d.js" crossorigin="anonymous"></script>

    <title>Laboratorio3D</title>
</head>

<body>
    <header>
    <!-- El header se asigna al incluir el módulo general.js -->        
    </header>

    <div class="info_header">
        <a href="index.html" title="Página de inicio"><i class="fa-solid fa-house fa-lg"></i></a><p>-> CRUD Modificar Producto</p>
    </div>

    <main>
        <div id="app" class="contenedor_nuevo_producto">

            <form class="nuevo_producto" method="PUT" :action="'/productos/' + id">
                <fieldset class="contenedor_nuevo_producto_campos">
                    <h3>Modificar producto</h3>
                    <label for="nombre">Nombre</label>
                    <input id="nombre" v-model="nombre" title="Ingrese el nombre del producto" placeholder="Ingrese el nombre del producto" type="text" minlength="1" maxlength="50">
                    <label for="precio">Precio</label>
                    <input id="precio" v-model="precio" title="Ingrese el precio" placeholder="Ingrese el precio" type="number" maxlength="50">
                    <label for="franquicia">Franquicia</label>
                    <input id="franquicia" v-model="franquicia" title="Ingrese la franquicia" placeholder="Ingrese la franquicia" type="text" maxlength="50">
                    <label for="tamano">Tamaño</label>
                    <input id="tamano" v-model="tamano" title="Ingrese el tamaño (Ej: 20x20x20cm)" placeholder="Ingrese el tamaño (Ej: 20x20x20cm)" type="text" maxlength="50">
                    <label for="material">Material</label>
                    <select id="material" v-model="material" title="Seleccione el material" placeholder="Seleccione el material">
                        <option value="PLA+">PLA+</option>
                        <option value="PLA+ y Leds">PLA+ y Leds</option>
                        <option value="ResinaUV">ResinaUV</option>
                        <option value="PLA+ y Resina">PLA+ y Resina</option>
                        <option value="PLA+ y ResinaUV">PLA+ y ResinaUV</option>
                        <option value="PLA+, Resina y Leds">PLA+, Resina y Leds</option>
                    </select>
                    <label for="altura">Altura</label>
                    <input id="altura" v-model="altura" title="Ingrese la altura (Ej: 20cm)" placeholder="Ingrese la altura (Ej: 20cm)" type="text" maxlength="50">
                    <label for="imagen1">Imagen 1</label>
                    <input id="imagen1" v-model="imagen1" title="Ingrese la imagen del servidor (EJ: img/producto1/imagen1.jpeg)" placeholder="Ingrese la imagen del servidor (EJ: img/producto1/imagen1.jpeg)" type="text" maxlength="50">
                    <label for="imagen2">Imagen 2</label>
                    <input id="imagen2" v-model="imagen2" title="Ingrese la imagen del servidor (EJ: img/producto1/imagen2.jpeg)" placeholder="Ingrese la imagen del servidor (EJ: img/producto1/imagen2.jpeg)" type="text" maxlength="50">
                    <label for="imagen3">Imagen 3</label>
                    <input id="imagen3" v-model="imagen3" title="Ingrese la imagen del servidor (EJ: img/producto1/imagen3.jpeg)" placeholder="Ingrese la imagen del servidor (EJ: img/producto1/imagen3.jpeg)" type="text" maxlength="50">
                    <label for="imagen4">Imagen 4</label>
                    <input id="imagen4" v-model="imagen4" title="Ingrese la imagen del servidor (EJ: img/producto1/imagen4.jpeg)" placeholder="Ingrese la imagen del servidor (EJ: img/producto1/imagen4.jpeg)" type="text" maxlength="50">
                    
                    <div>
                        <button type="button" v-on:click="grabar()">GUARDAR</button>
                    </div>
                </fieldset>
            </form>
        </div>
    
    </main>

    <footer>
    <!-- El footer se asigna al incluir el módulo general.js -->
    </footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/productosCRUD.js"></script>
    <script src="js/general.js"></script>
</body>

</html>
